<%-include('partials/head') %>

    <%-include('partials/navbar') %>

    <h1>The Home Page </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolorum commodi autem voluptas, placeat a similique ex quos numquam cumque ab ratione, rerum eveniet facere expedita ad debitis quas at.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus esse rem minima dolore nesciunt est sequi atque totam cumque non vitae et nostrum praesentium repellendus fugiat, voluptates exercitationem nemo odit.</p>
    <%-include('partials/footer') %>
