<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>The Home Page </h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem dolorum commodi autem voluptas, placeat a similique ex quos numquam cumque ab ratione, rerum eveniet facere expedita ad debitis quas at.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus esse rem minima dolore nesciunt est sequi atque totam cumque non vitae et nostrum praesentium repellendus fugiat, voluptates exercitationem nemo odit.</p>
</body>
</html>